.l-site-footer {
   font-size: 10px;
}

.c-copyright {
   display: flex;
   justify-content: center;
   position: absolute;
   width: 100%;
   left: 0;
   bottom: 0;
   background-image: linear-gradient(#2d2d2d, #151515);
   border-top: 1px solid black;
   padding: .5em 0;

   &__text {
      font-size: 1.2rem;
      color: #ccc;
   }
}