* {
   box-sizing: border-box;
   font: 10px 'Roboto Condensed', sans-serif;
}

html {
   height: 100%;
   overflow-x: hidden;
}

body {
   position: relative;
   min-height: 100%;
   margin: 0;
   padding-bottom: 6rem;
   background-color: $themeBackgroundColor;
}

h1 {
   font-size: 1.6rem;
}

a {
   color: $themeColorLink1;
   text-decoration: none;
}

a,
p,
span,
input,
label,
select,
option,
button {
   font-size: 1.2rem;
}

.l-site-header {
   height: 40px;
   width: 100%;

   &.t-gradient-dark {
      background-color: #151515;
      background-image: linear-gradient(#151515, #2D2D2D);
      border-bottom: 1px solid black;
   }
}


.c-app-nav {
   display: flex;
   height: 100%;
   margin: 0 auto;
}

.c-logo {
   display: flex;
   flex-grow: 1;
   padding: 0 0 0 5px;

   &__link {
      display: flex;
      align-items: center;
   }

   &__img {
      height: 36px;
   }

   &__title {
      margin: 0;
      padding: 4px;
   }

   &__motto {
      display: none;
   }
}

.c-menu {
   display: flex;
   justify-content: flex-end;
   align-items: center;
   flex-grow: 1;
   list-style: none;

   &__item {
      padding: 0 10px 0 0;
   }

   &__btn {
      @include newBtn(31px, 31px, 1.6em);
      background-color: rgb(231, 231, 231);
      background-image: linear-gradient(rgb(231, 231, 231), #bbb);
      border: 1px solid #C4C4C4;
      border-radius: 50%;
   }
}