@mixin newBtn($width, $height, $fontSize) {
   width: $width;
   height: $height;
   font-size: $fontSize;
   line-height: 0%;
}

@mixin taskCell($flexBasis, $height, $padding) {
   display: flex;
   align-items: center;
   flex-basis: $flexBasis;
   height: $height;
   padding: $padding;
}