@import 'variables';
@import 'mixins';
@import 'header';
@import 'task-actions';
@import 'main';
@import 'footer';

.h-hide {
   display: none;
}

.tas1 {
   order: 2;
}

.tas2 {
   order: 1;
}